.footer-section-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-darkslategray);
    width: 1440px;
    height: 64px;
  }
  .unt-rides {
    position: absolute;
    top: 20px;
    left: 659px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 24px;
  }
  .background-image-icon,
  .footer-section {
    position: absolute;
    top: 1016px;
    left: 0;
    width: 1440px;
    height: 64px;
  }
  .background-image-icon {
    background-image: url("/backgroundImage.png");
    top: 111px;
    height: 905px;
    object-fit: cover;
    opacity: 0.9;
  }
  .dashboard-user-interaction {
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: #e2e2e2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1188px;
    height: 655px;
  }
  .mini-nav-border {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs) var(--br-3xs) 0 0;
    background-color: var(--color-darkslategray);
    width: 1188px;
    height: 87px;
  }
  .create-ride-offer {
    text-decoration: underline;
  }
  .available-rides-create-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .available-rides-create-container {
    position: absolute;
    top: 40px;
    left: 685px;
    display: flex;
    align-items: center;
    width: 437px;
    height: 42px;
    -webkit-text-stroke: 1px #000;
  }
  .search-bar-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: #d9d9d9;
    width: 237px;
    height: 34px;
  }
  .search-rides {
    position: absolute;
    top: 3px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 123px;
    height: 31px;
  }
  .search-bar {
    position: absolute;
    top: 27px;
    left: 28px;
    width: 237px;
    height: 34px;
    text-align: center;
    font-size: var(--font-size-base);
    color: #7e7e7e;
  }
  .dashboard-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 1188px;
    height: 656px;
  }
  .form-fields-create-ride-offe-child,
  .form-fields-create-ride-offe-item {
    position: absolute;
    top: 2px;
    left: 1px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 488px;
    height: 53px;
  }
  .form-fields-create-ride-offe-item {
    top: 81px;
  }
  .form-fields-create-ride-offe-inner,
  .rectangle-div {
    left: 0;
    background-color: var(--color-white);
    width: 488px;
  }
  .form-fields-create-ride-offe-inner {
    position: absolute;
    top: 160px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 53px;
  }
  .rectangle-div {
    top: 239px;
  }
  .form-fields-create-ride-offe-child1,
  .form-fields-create-ride-offe-child2,
  .rectangle-div {
    position: absolute;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    height: 53px;
  }
  .form-fields-create-ride-offe-child1 {
    top: 318px;
    left: 1px;
    background-color: var(--color-white);
    width: 488px;
  }
  .form-fields-create-ride-offe-child2 {
    top: 397px;
    left: 158px;
    border-radius: var(--br-3xs);
    background-color: #00853e;
    width: 173px;
  }
  .available-seats,
  .date,
  .destination,
  .name,
  .terminal {
    position: absolute;
    top: 318px;
    left: 0;
    display: flex;
    align-items: center;
    width: 486px;
    height: 55px;
  }
  .date,
  .destination,
  .name,
  .terminal {
    top: 239px;
  }
  .destination,
  .name,
  .terminal {
    top: 159px;
    left: 1px;
  }
  .name,
  .terminal {
    top: 81px;
    left: 0;
  }
  .name {
    top: 0;
    left: 2px;
  }
  .form-fields-create-ride-offe {
    position: absolute;
    top: 126px;
    left: 350px;
    width: 489px;
    height: 450px;
    font-size: var(--font-size-base);
    color: var(--color-darkgray);
  }
  .dashboard-box {
    position: absolute;
    top: 211px;
    left: 125px;
    width: 1188px;
    height: 656px;
    text-align: left;
    font-size: 18px;
  }
  .nav-bar-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1440px;
    height: 111px;
  }
  .profile-sign-out {
    position: absolute;
    top: calc(50% - 23.5px);
    left: calc(50% + 501px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 45px;
  }
  .unt-rides-logo-1 {
    position: absolute;
    top: 13px;
    left: 93px;
    width: 158px;
    height: 85px;
    object-fit: cover;
  }
  .navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 111px;
    font-size: 20px;
  }
  .submit-ride-offer {
    position: absolute;
    top: 736px;
    left: 641px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 51px;
  }
  .dashboard-create-ride-offer {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  
