* {
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #808080;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.site-logo img {
  font-size: 2rem;
  height: auto;
  width: 100px;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: green;
}

.nav li:hover {
  background-color: green;
}

.header {
  box-sizing: border-box;
  height: 550px;
  width: 100%;
  background-image: url("/images/header.png");
  background-position: center;
  margin-top: 0;
  overflow: auto;
  color: green;
  text-align: center;
  justify-content: center;
}

.auth-form-container,
.login-form,
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 750px;
  width: 100%;
  background-color: gray;
  transform: translate(-50%), (-50%);
}

label {
  padding: 0.25rem 0;
  text-align: left;
}

input {
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-button {
  background: none;
  color: black;
  text-decoration: underline;
  background-color: green;
}

.wrapper{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 430px;
width: 100%;
background: #fff;
padding: 34px;
border-radius: 6px;
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #00853e;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #00853e;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #72b844;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    top: 20%;
  }
}

.message-container {
  text-align: center; /* Center the message horizontally */
  margin-top: 15px; /* Add space between the form and message */
}

.success-message {
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.element-panel-intro {
  background-image: url(/public/Images/fill-1.png);
  background-size: 100% 100%;
  height: 743px;
  position: relative;
  width: 1517px;
}

.element-panel-intro .overlap-group {
  height: 431px;
  left: 602px;
  position: absolute;
  top: 174px;
  width: 317px;
}

.element-panel-intro .requestride-g {
  height: 425px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 317px;
}

.element-panel-intro .carandstreet {
  height: 271px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 277px;
}

.element-panel-intro .request-a-ride-get-p {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 385px;
  width: 282px;
}

.element-panel-intro .text-wrapper {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 326px;
  width: 313px;
}

.element-panel-intro .city-driver-bro {
  height: 277px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 283px;
}

.element-panel-intro .overlap {
  height: 451px;
  left: 125px;
  position: absolute;
  top: 180px;
  width: 316px;
}

.element-panel-intro .confirmdriver-g {
  height: 451px;
  left: 0;
  position: absolute;
  top: 0;
  width: 316px;
}

.element-panel-intro .phoneandstreet {
  height: 271px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 277px;
}

.element-panel-intro .know-your-driver-in {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 392px;
  width: 282px;
}

.element-panel-intro .div {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  white-space: nowrap;
  width: 312px;
}

.element-panel-intro .city-skyline-bro {
  height: 223px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 259px;
}

.element-panel-intro .overlap-2 {
  height: 424px;
  left: 1072px;
  position: absolute;
  top: 180px;
  width: 316px;
}

.element-panel-intro .trackride-g {
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 316px;
}

.element-panel-intro .huge-drivers-network {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 384px;
  width: 282px;
}

.element-panel-intro .text-wrapper-2 {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 324px;
  white-space: nowrap;
  width: 312px;
}

.element-panel-intro .redlocationicon {
  height: 271px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 277px;
}

.element-panel-intro .navigation-bro {
  height: 223px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 261px;
}